In [30]:
from sqlalchemy import create_engine
import pandas as pd

In [31]:
# Define las credenciales de la base de datos
username = 'root'
password = 'MySQL'
database_name = 'prueba_globant'
host = 'localhost'  # o la IP si es remoto
port = '3306'  # Puerto por defecto de MySQL

In [32]:
# Crea la URL de conexión para SQLAlchemy
database_url = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database_name}'
# Crea el motor de conexión a la base de datos
engine = create_engine(database_url)

In [33]:
departments_columns = ['id', 'department']
department = pd.read_excel('C:/Users/franc/Downloads/departments.xlsx', header=None, names=departments_columns)

In [34]:
def convert_float_columns_to_int(df, columns_to_convert):
    """
    Convierte las columnas especificadas de un DataFrame de pandas de float a int.

    Parámetros:
    - df: DataFrame de pandas.
    - columns_to_convert: Lista de nombres de columnas para convertir a enteros.

    Retorna:
    - DataFrame con las columnas especificadas convertidas a tipo int.
    """
    for column in columns_to_convert:
        # Comprueba si la columna está en el DataFrame y si es de tipo float
        if column in df.columns and pd.api.types.is_float_dtype(df[column]):
            # Convierte la columna a int
            # Usamos `astype('Int64')` para manejar correctamente los NaNs, 
            # convirtiéndolos a valores enteros NA de pandas.
            df[column] = df[column].astype('Int64')
    return df

In [35]:
columns_to_convert = ['id']
convert_float_columns_to_int(department, columns_to_convert)

    id                department
0    1        Product Management
1    2                     Sales
2    3  Research and Development
3    4      Business Development
4    5               Engineering
5    6           Human Resources
6    7                  Services
7    8                   Support
8    9                 Marketing
9   10                  Training
10  11                     Legal
11  12                Accounting

In [36]:
new_row = {'id': 99, 'department': 'unknown'}
department = department.append(new_row, ignore_index=True)

C:\Users\franc\AppData\Local\Temp\ipykernel_17944\3830697515.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  department = department.append(new_row, ignore_index=True)

In [37]:
department

    id                department
0    1        Product Management
1    2                     Sales
2    3  Research and Development
3    4      Business Development
4    5               Engineering
5    6           Human Resources
6    7                  Services
7    8                   Support
8    9                 Marketing
9   10                  Training
10  11                     Legal
11  12                Accounting
12  99                   unknown

In [39]:
department.to_sql('departments', con=engine, if_exists='append', index=False)

13